*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    background-color: white;
    gap: 2rem;
    max-width: 80vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-bottom:1.5rem ;


}
h2{
    margin-bottom:1rem ;
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 700;

}
p{
    color: rgb(98, 96, 96);
    max-width: 568px;
    text-align: center;
    margin:  auto;
}
.heading{
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2.8rem;
}
/* --------------- */
.maincon{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(1,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px,300px));
    justify-content: center;

}
/* @media (min-width:930px){
    .maincon{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1080px){
    .maincon{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1540px){
    .maincon{
        grid-template-columns: repeat(4,1fr);
    }
} */
.cardcontainer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(161, 156, 156);
    border-radius: 8px;
    overflow: hidden;

}
.cardimagecontainer{
    position: relative;
    overflow: hidden;
    height: 11rem;

}
@media (min-width:768px){
    .cardimagecontainer{
        /* position: relative;
        overflow: hidden; */
        height: 16rem;
    
    }
}

.cardimg{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;

}
.cardtitle{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(37, 37, 39);
    line-height: 1.5rem;
    margin-bottom: 0.2rem;

}
.cardbody{
    color: rgb(138, 127, 127);
    font-size: 1rem;
}
a{
    text-decoration: none;
}

/* 
 */
 .cardfooter{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: flex-end;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
 }
 .author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
 }
 .left{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(136, 130, 130);
    border-radius: 50%;
    background-color: rgb(229, 218, 218);
 }
 .right{
    display: flex;
    flex-direction: column;

 }
 .span1{
    color: rgb(71, 71, 224);
 }
 .span2{
    color: rgb(122, 115, 115);
 }
 .cardtag{
    font-size: 0.79rem;
    border: 1px solid rgb(64, 63, 63);
    border-radius: 4px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: grey;


 }
/* .containercard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
} */
/* .item{
    
    background-color: aquamarine;
    height: 300px;
    gap: 1rem;
    border-radius: 2em;
    border-color: black;


} */
.cardtitlecontainer{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;


}

.cardcontainer:hover .cardimg{
    transform: scale(1.2);
    transition-duration: 200ms;
}
.cardtitleanchor:hover .cardtitle{
    color: rgb(19, 13, 196);


}
